body {
  overflow: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./media/3.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.message-box {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  opacity: 1;
  transform: scale(0);
  animation:
    scaleUp 0.5s ease-in-out 3s forwards ;
  animation-delay: 6s;
}


@keyframes fadeIn5 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
.dialogoverlay{
  margin-top: 100px;
  background-color: rgb(55, 57, 59,0.5);
  padding: 50px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 42%;
  margin-left: 65%;
  margin-right: 4%;
  width: 80%;
  height: 33%;

}

.message-text {
  position: absolute;
  top: 25%;
  right: 50%;
  border-radius: 20px;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 0.5;
  animation: fadeIn 5s ease-in-out;
}

.options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 18%;
  opacity: 0.5;
}

.option {
  background-color: black;
  color: #fff;
  padding: 20px 20px;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 0px 4px 4px rgba(23, 162, 184); /* Box shadow with the desired color */
  cursor: pointer;
}

.option:hover {
  color: #17a2b8;
  transition: 0.6s;
  background-color: white;
}

body:hover {
  background-size: 100%;
}

/* Narrator styles */
.narrator-box {
  position: absolute;
  top: 1%;
  left: 77%;
  width: 30%;
  animation: fadeIn 1s ease-in;

}
@keyframes fadeIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



/* Timer styles */
.timer-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.timer i {
  margin-right: 5px;
}

/* Message styles */
.welcome-message {
  position: absolute;
  top: 10%;
  left: 67%;
  width: 20%;
  background-color: rgba(202, 197, 197, 0.8);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  animation: fadeIn5 1s ease-in-out;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.next-btn {
  position: absolute;
  top: 90%;
  right: 10%;
}

.next-btn1 {
  position: absolute;
  top: 90%;
  right: 18%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.trail{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(8, 212, 243, 1);
  background: rgba(8, 212, 243, 1)f;
  position: fixed;
  animation: come 0.5s linear forwards;
}
@keyframes come{
    0%{
        transform: scale(0);
    }
    10%{
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
    100%{
        transform: scale(0) translateY(150px);
        opacity: 0;
    }

}